In [ ]:
#with open(<file_name>)

In [ ]:
##modes
# r ->read
# w ->write
#a ->append
# x ->create

In [8]:
try:
    b= open ("data.txt","x")
    b.close()
except:
    print("this file already exist")

In [11]:
b= open ("data.txt","r")
x = b.read()
print(x)
b.close()

1.hello world
2.hello world
3.hello world
lyfyf
ufyfyuf

In [12]:
y= x.split("\n")
print(y)

['1.hello world ', '2.hello world', '3.hello world', 'lyfyf', 'ufyfyuf']

In [13]:
line = int(input("Enter line no = "))
y[line-1]

Enter line no = 1

'1.hello world '

In [16]:
b = open("datal.txt","w")
x = "Hello wolrd I am Python"
b.write(x)
b.close()

In [25]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quality = int(input("Enter quality = "))
    total = price*quality
    data = f"{name} {price} {quality} {total}\n"
    bill = bill+data
print(bill)

b = open("bill.txt","w")
b.write(bill)
b.close()

Enter n = 2
Enter name = apple
Enter price = 200
Enter quality = 3
Enter name = orange
Enter price = 290
Enter quality = 4
apple 200 3 600
orange 290 4 1160

In [5]:
b = open("bill.txt","r")
x = b.read()
print(x)
b.close()

apple 200 3 600
orange 290 4 1160

In [6]:
x.split("\n")

['apple 200 3 600', 'orange 290 4 1160', '']

In [7]:
data=x.split("\n")[0:-1]
data

['apple 200 3 600', 'orange 290 4 1160']

In [8]:
for i in data:
    print(i.split())

['apple', '200', '3', '600']
['orange', '290', '4', '1160']

In [10]:
final_data = []
for i in data:
    y = i.split()
    final_data.append(y)
print(final_data)

[['apple', '200', '3', '600'], ['orange', '290', '4', '1160']]

In [15]:
#total integer
grand_total = 0
for item in final_data:
#     i = item[3]
    grand_total =grand_total+ int(item[-1])
print(grand_total)

1760

In [24]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quality = int(input("Enter quality = "))
    total = price*quality
    data = f"{name}, {price}, {quality}, {total}\n"
    bill = bill+data
print(bill)

b = open("bill.csv","a")
# b.write("Name,price,quantity,Total\n")
b.write(bill)
b.close()

Enter n = 2
Enter name = mobile
Enter price = 10000
Enter quality = 5
Enter name = book
Enter price = 500
Enter quality = 20
mobile, 10000, 5, 50000
book, 500, 20, 10000

In [22]:
import pandas as pd

In [25]:
data = pd.read_csv('bill.csv')
data

     Name   price  quantity    Total
0  laptop  230000         5  1150000
1  mobile   10000         5    50000
2    book     500        20    10000

In [27]:
import os
try:
    os.remove("data1.txt")
except:
        print('File is not there.')

File is not there.

In [28]:
#copy paste using shutil

In [29]:
import shutil as s

s.copy(",")

TypeError: copy() missing 1 required positional argument: 'dst'