In [1]:
#Database
db.execute("select *From student Whether per > 80")
result = db.fetchall()
#for x in result:
#   print(x)
result

NameError: name 'db' is not defined

In [5]:
per = 70
db.execute(f"Select* From student where per > {per"})
result =db.fetchall()
#for x in result:
# print(x)
result

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' (<ipython-input-5-d15baf4f798a>, line 2)

In [6]:
#Insert
sql = '''Insert into student (name,physics,chemistry,math,english,nepali,total,per,grade)
VALUES('Nabin',89,89,67,410,80,'A')'''
db.execute(sql)
database.commit()

NameError: name 'db' is not defined

In [7]:
name = input ("enter name = ")
physics = int(input("Enter physics = "))
chemistry = int(input("Enter chemister = "))
math = int(input("Enter math = "))
english = int(input("enter English"))
nepali = int(input("Enter nepali = "))
total = sum[physics,chemistry,math,english,nepali])
per = total/5
if per>=80:
grade = "A"
elif per>=60:
    grade = 'B'
elif per >=45:
    grade = 'C'
 else:
    grade = 'F'
    
    
    sql = f'''Insert Into student (name,physics,chemistry,math,english,nepali,total,per,grade)
    VALUES('{name}',{physics}',{chemistry},{math},{english},{nepali},{total},{per],[grade]')'''
    db.execute(sql)
    database.com()

SyntaxError: unmatched ')' (<ipython-input-7-a3d6ce36a8ae>, line 7)