In [1]:
a = ["apple","Zebra","Xray","cat","Ball","Apple","Apple",]
a[0:3] = ["Ant","zebra","Xray"]
print(a)

['Ant', 'zebra', 'Xray', 'cat', 'Ball', 'Apple', 'Apple']

In [2]:
#del remove() pop()
a = ["apple","Zebra","Xray","cat","Ball","Apple","Apple",]
del a[0:3]
print(a)

['cat', 'Ball', 'Apple', 'Apple']

In [5]:
a = ["apple","Zebra","Xray","cat","Ball","Apple","Apple",]
a.remove("cat")
print(a)

['apple', 'Zebra', 'Xray', 'Ball', 'Apple', 'Apple']

In [6]:
a = ["apple","Zebra","Xray","cat","Ball","Apple","Apple",]
a.pop(1)
a

['apple', 'Xray', 'cat', 'Ball', 'Apple', 'Apple']

In [7]:
a = ["apple","Zebra","Xray","cat","Ball","Apple","Apple",]
b = a.pop(1)
print(a)
print(b)

['apple', 'Xray', 'cat', 'Ball', 'Apple', 'Apple']
Zebra

In [8]:
a = ["apple","Zebra","Xray","cat","Ball","Apple","Apple",]
for i in a:
    if "Apple"==i:
        print("yes")

yes
yes

In [3]:
a = ["apple","Zebra","Xray","cat","Ball","Apple","Apple",]
b = []
for i in a:
    if"apple" != i:
        b.append(i)
    
print(b)

['Zebra', 'Xray', 'cat', 'Ball', 'Apple', 'Apple']

In [2]:
#List inside list
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a[0])

[1, 2, 3]

In [4]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a[0])
print(len(a))

[1, 2, 3]
3

In [5]:
print(a[0][2])

3

In [6]:
a = [["ram",45,"kathmandu"],
    ["shyam",34,"bhaktapur"],
    ["hari",23,"lalitpur"]]
print(a)

[['ram', 45, 'kathmandu'], ['shyam', 34, 'bhaktapur'], ['hari', 23, 'lalitpur']]

In [7]:
for i in a:
    print (i)

['ram', 45, 'kathmandu']
['shyam', 34, 'bhaktapur']
['hari', 23, 'lalitpur']

In [9]:
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = ram
['ram', 45, 'kathmandu']

In [11]:
#update
a[0] = [1,"Rama",34,"Bhaktapur"]
a

[[1, 'Rama', 34, 'Bhaktapur'],
 ['shyam', 34, 'bhaktapur'],
 ['hari', 23, 'lalitpur']]

In [14]:
info=[[1,"Rama",34,"Bhaktapur"],
 [2,"Shyam",78,"kathmandu"],
 [3,"Nabin",45,"Bara"]]
info

[[1, 'Rama', 34, 'Bhaktapur'],
 [2, 'Shyam', 78, 'kathmandu'],
 [3, 'Nabin', 45, 'Bara']]

In [15]:
info[0][1] = "sita"
info[0][3] = "bhaktapur"
info

[[1, 'sita', 34, 'bhaktapur'],
 [2, 'Shyam', 78, 'kathmandu'],
 [3, 'Nabin', 45, 'Bara']]

In [16]:
# wap to create list inside list (matrix) with given row and column

#### l = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    y = []
    for j in range(c):
        x = int(input("Enter x = "))
        y.append(x)
            
    l.append(y)
print(1)