In [1]:
#Dictionary
#intexed
#ordered
#multiple values
#mutable

In [3]:
d = {<key>:<value>,<key>:<value>}

SyntaxError: invalid syntax (<ipython-input-3-b1761bd382b6>, line 1)

In [4]:
d = {}
d = dict()
type (d)

dict

In [5]:
d = {"a":"Apple","b":"Ball","c":"cat"}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}

In [9]:
print([len("c")])
print(len(d))

[1]
3

In [10]:
d = dict()
d["a"] = "Apple"
d["b"] = "Ball"
d["c"] = "cat"
d["e"] = "Egg"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'cat', 'e': 'Egg'}

In [15]:
d = dict()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    Phone = int(input("Enter phone = "))
    d[name] = Phone
    
print(d)

Enter n = 2
Enter name = ram
Enter phone = 980306421
Enter name = sita
Enter phone = 8767778
{'ram': 980306421, 'sita': 8767778}

In [ ]:
#for loop in dictionary

In [18]:
for i in d.values():
    print(i)

980306421
8767778

In [19]:
l = []
for i in d.items():
    l.append(i)
    
print(l)

[('ram', 980306421), ('sita', 8767778)]

In [20]:
dict(l)

{'ram': 980306421, 'sita': 8767778}

In [21]:
#Del pop()
d = {"Ram": 9867667654,"shyam":9808778765}
d.pop('Ram')
d

{'shyam': 9808778765}

In [22]:
#List inside Dict
d = {"Ram":[98733673609,987236665],
     "Shyam":[56537677878,663677878]}
print(d)
{"Ram":[9737763676,9776653677],"sita":[98373667,8766356]}

{'Ram': [98733673609, 987236665], 'Shyam': [56537677878, 663677878]}

{'Ram': [9737763676, 9776653677], 'sita': [98373667, 8766356]}

In [2]:
d = {}
n = int(input("Enter number = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_no = int(input("Enter ncell_no = "))
    ncell_no = int(input("Enter = "))
    d[name] = [ntc_no,ncell_no]
    
    
print(d)

Enter number = 2
Enter name = ram
Enter ncell_no = 9898467
Enter = 987839
Enter name = Hari
Enter ncell_no = 96889
Enter = 67874
{'ram': [9898467, 987839], 'Hari': [96889, 67874]}

In [14]:
#dict inside dict
d = {"Ram":{"ntc":980908989,"ncell":9890089980},"Shyam":{"ntc":9877798786,"ncell":9789009089}}
d

{'Ram': {'ntc': 980908989, 'ncell': 9890089980},
 'Shyam': {'ntc': 9877798786, 'ncell': 9789009089}}

In [15]:
d = {}
n = int(input("Enter n = "))
for i ion range(n):
    name = input("Enter name = ")
    ntc_no = int(input("Enter ntc no "))
    ncell_no = int(input("Enter ncell_no = "))
    d[name] = {"ntc:ntc_no,"ncell}

SyntaxError: invalid syntax (<ipython-input-15-8027ae0d78db>, line 3)

In [ ]:
d["ram"][]