In [1]:
#string
a = 'Apple'
b = "ball"
c = '''Cat'''

print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

Apple ball Cat
<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
c = a+b
print(c)

Appleball

In [4]:
print(a*2)

AppleApple

In [ ]:
a=input("Enter a = ")
print(a)

In [3]:
#string slicing 

a ="Hello i am python"
b = a[0:5]
print(b)

Hello

In [5]:
a ="Hello I am python"
b = a[0:15:2]
print(b)

HloIa yh

In [6]:
a ="Hello I am python"
for i in a:
    print(i,end = "")

Hello I am python

In [8]:
# string formatting
name = "Ram"
age = 34

c = f"{name} {age}"
c

'Ram 34'

In [ ]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")
info = f"Hello world I am {name}. I am from {add}. I am {age}"
print(info)

In [ ]:
bill =''
n = int(input("Enter n= "))
for i in range(n):
    product = input("Enter name = ")
    price = int (input("Enter price = "))
    Quantity =int(input("Enter quantity = "))
    total = price*quantity
    data = f"{product}{price}{quantity}{total}\n"
    bill = bill+data
print(bill)

In [1]:
#search
name= "Rame shyam Hari Sita Gitan Hari Ram "
if "ram" in name:
    print("yes")
    print(name.count("Ram"))
else:
    print("No")

No

In [5]:
 name = "Ram shyam Hari sita Gita Hari "
print(name.lower())
print(name. upper())

ram shyam hari sita gita hari
RAM SHYAM HARI SITA GITA HARI

In [ ]:
#search
x = input("Enter x= ").lower()
name = "Ram shyam Hari Sita Gita Ram".lower()
if x in name:
    print(yes)
    print(name.count(x))
else:
    print("NO")

In [2]:
    #tittle _firswt character lai capital banaucga 
    name.title()

NameError: name 'name' is not defined

In [16]:
#replace

name = "Ram shyam Hari Sita  Gita Ram"
name = name.replace("Ram","Ram,'")
print(name)

TypeError: 'str' object is not callable

In [12]:
name = "Ram shyam Hari sita Gita Ram"
name.split()

['Ram', 'shyam', 'Hari', 'sita', 'Gita', 'Ram']